FrequentlyUsedCode/Library/
FrequentlyUsedCode/ProjectSettings/TagManager.asset
FrequentlyUsedCode/Temp/UnityLockfile
FrequentlyUsedCode/.vs/FrequentlyUsedCode/v15/Server/sqlite3/storage.ide
FrequentlyUsedCode/Temp/UnityTempFile-6abe612bdbb6d964cbe0ec55a421c585
FrequentlyUsedCode/.vs/FrequentlyUsedCode/v15/Server/sqlite3/db.lock
FrequentlyUsedCode/.vs/
FrequentlyUsedCode/Temp/
